In [9]:
import pandas as pd

enrollmentdf = pd.read_csv('enrollment.txt', sep='\t')
enrollmentdf

,school,Level,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,University of Maryland Global Campus,Undergraduate,"37,355","44,219","45,604","47,253","46,162","47,080","45,100","46,734","50,793"
1,University of Maryland Global Campus,Graduate,"12,893","13,310","13,775","13,350","12,119","11,446","10,223","9,104","9,291"
2,University of Maryland Global Campus,Total,"50,248","57,529","59,379","60,603","58,281","58,526","55,323","55,838","60,084"
3,"University of Maryland, Baltimore",Undergraduate,866,905,929,909,878,898,930,963,978
4,"University of Maryland, Baltimore",Graduate,"5,463","5,577","5,774","5,868","5,949","6,239","6,314","5,968","5,689"
5,"University of Maryland, Baltimore",Total,"6,329","6,482","6,703","6,777","6,827","7,137","7,244","6,931","6,667"
6,"University of Maryland, Baltimore County",Undergraduate,"11,243","11,142","11,234","11,260","11,060","10,932","10,835","10,625","10,490"
7,"University of Maryland, Baltimore County",Graduate,"2,596","2,498","2,428","2,507","2,542","2,565","2,803","3,366","3,658"
8,"University of Maryland, Baltimore County",Total,"13,839","13,640","13,662","13,767","13,602","13,497","13,638","13,991","14,148"
9,"University of Maryland, College Park",Undergraduate,"27,443","28,472","29,868","30,762","30,511","30,875","30,921","30,353","30,594"
10,"University of Maryland, College Park",Graduate,"10,697","10,611","10,653","10,438","10,232","9,834","10,350","10,439","10,219"
11,"University of Maryland, College Park",Total,"38,140","39,083","40,521","41,200","40,743","40,709","41,271","40,792","40,813"
12,"University of Maryland, Eastern Shore",Undergraduate,"3,742","3,277","2,861","2,597","2,333","2,069","1,811","1,933","2,233"
13,"University of Maryland, Eastern Shore",Graduate,723,627,629,596,553,577,573,585,607
14,"University of Maryland, Eastern Shore",Total,"4,465","3,904","3,490","3,193","2,886","2,646","2,384","2,518","2,840"

In [8]:
greenTerp = pd.read_csv('Data_Level3_GreenTerp - Cleaned.csv')
formDates = greenTerp['Timestamp']
formYear = greenTerp['Year-Date']
greeklifers = greenTerp[greenTerp['']]
formYear.value_counts()

/tmp/ipykernel_34348/1783840527.py:1: DtypeWarning: Columns (25,26,37,39,40) have mixed types. Specify dtype option on import or set low_memory=False.
  greenTerp = pd.read_csv('Data_Level3_GreenTerp - Cleaned.csv')

Year-Date
2019    4350
2018    2397
2022    1875
2021    1777
2020     470
2023     126
Name: count, dtype: int64